<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0" />
        <title>Report Supplier</title>
        <style>
            table {
                border-collapse: collapse;
            }
        </style>
    </head>
    <body>
        <h1>Data Supplier</h1>
        <table
            border="1"
            cellpadding="5"
            cellspacing="0"
            width="100%">
            <tr>
                <th>No</th>
                <th>Name</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Address</th>
            </tr>
            {{#each suppliers}}
            <tr>
                {{ this.no }}
            </tr>
            <tr>
                {{ this.name }}
            </tr>
            <tr>
                {{ this.phone }}
            </tr>
            <tr>
                {{ this.email }}
            </tr>
            {{/each}}
        </table>
    </body>
</html>
